*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #dedede;
	color: #767777;
	font-size: 12px;
	font-family: "SimHei";
}
.container{
	background-color: #fff;
	width: 980px;
	height: 1386px;
	margin: 0 auto;
}

/*****************//*头部*//*****************/
header{
	position: relative;
	width: 892px;
	height: 61px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 2px solid #938e8c;
}
header .header_bg{
	position: relative;
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
}
header .header_bg p{
	position: absolute;
	bottom: 2px;
	left: 4px;
	color: #fff;
}
header .header_time{
	position: absolute;
	bottom: 2px;
	right: 0;
	color: #d45d5c;
}

/*****************//*主体*//*****************/
.middle{
	position: relative;
	margin: 34px 44px 44px 44px;
}

.middle_left{
	position: relative;
	float: left;
}
.middle_left img{
	width: 641px;
	height: 301px;
}
.cover_left{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 191px;
	height: 301px;
	background-color: green;
	opacity: 0.3;
}
.cover_right{
	position: absolute;
	top: 0px;
	left: 450px;
	width: 191px;
	height: 301px;
	background-color: #d45d5c;
	opacity: 0.3;
}
.middle_right{
	position: relative;
	float: right;
	width: 203px;
	height: 300px;
	border-top: 2px solid #cc8091;
}
.about{
	font-size: 24px;
	color: #000;
	font-family: "Microsoft YaHei";
	line-height: 40px;
	font-variant: small-caps;
	text-decoration: underline;
	text-transform: capitalize;
}
#spacing{
	margin-top: -10px;
}
.detail{
	font-family: "KaiTi";
	line-height: 10px;
	font-style: oblique;
}
.num{
	font-size: 116px;
	color: #75b86b;
	font-family: "Microsoft YaHei";
	font-style: oblique;	
	margin-left: -18px;
}
.mark{
	color: #cc8091;
	font-family: "Microsoft YaHei";
}
.mark_1{
	position: absolute;
	left: 0px;
	bottom: -10px;
	font-size: 55px;
}
.mark_2{
	position: absolute;
	bottom: 10px;
	left: 85px;
	font-size: 21px;
}
.mark_3{
	position: absolute;
	bottom: 0px;
	left: 85px;
	color: #ccc;
}
.wwh{
	float: left;
	overflow: auto;
	width: 641px;
	margin: 44px;
	font-family: "Microsoft YaHei";
}
.wwh_left{
	float: left;
	width: 230px;
	margin-right: 20px;
}
.what{
	height: 28px;
	font-size: 16px;
	color: #418c59;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.wwh_left p{
	line-height: 16px;
	font-family: "SimSun";
}
.wwh_middle{
	float: left;
	width: 210px;
	margin-right: 20px;
}
.when{
	height: 28px;
	font-size: 16px;
	color: #d2994f;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.wwh_middle p{
	line-height: 16px;
	color: #231815;
	opacity: 0.7;
}
.wwh_right{
	float: left;
	width: 140px;
	margin-right: 20px;
}
.how{
	height: 28px;
	font-size: 16px;
	color: #cc7680;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.wwh_right p{
	line-height: 20px;
	color: #231815;
	margin-bottom: 25px;
}
.wwh_right ul{
	list-style: none;
	color: #231815;
	line-height: 16px;
}
.wwh_right ul li{
	margin-bottom: 5px;
}
.wwh_right ul li span{
	color: #cd4a48;
	font-style: oblique;
	line-height: 16px;
	opacity: 0.7;
}
.article{
	float: left;
	width: 892px;
	margin: 0px 44px 34px 44px;
	overflow: auto;
}
.article_left{
	float: left;
	width: 415px;
}
.article_left_up{
	width: 415px;
	padding-bottom: 10px;
	border-bottom: 2px solid #11456b;
}
.article_left_up .the{
	font-size: 72px;
	color: #f5e327;
	margin-right: 20px;
	font-family: "SimHei";
	font-weight: bold;
	font-style: oblique;
	text-transform: uppercase;
}
.article_left_up p{
	font-size: 42px;
	font-family: "SimHei";
	font-weight: bold;
	line-height: 50px;
	color: #11456b;
	text-transform: uppercase;
}
.article_left_up .front_end{
	font-size: 33px;
	color: #11456b;
}
.article_left_down{
	margin-top: 20px;
	position: relative;
}
.article_left_down p{
	line-height: 16px;
	text-indent: 2em;
}
.pre_one p:first-letter{
  	float: left;
  	font-size:70px;
	color: #f5e327;
	margin-right: 3px;
	font-family: "Microsoft YaHei";
	line-height: 70px;
}
.pre_one p{
  clear: both;
  text-indent: 0em;
}
.pre_one img{
	float: right;
	margin: 15px 9px 15px 15px;
}
.article_right{
	float: right;
	width: 458px;
}
.article_right_up{
	position: relative;
	width: 458px;
	height: 275px;
}
.article_right_up img{
	width: 458px;
	height: 275px;
}
.img_text{
	position: absolute;
	width: 458px;
	height: 61px;
	font-family: "Microsoft YaHei";
	background: #000;
	opacity: 0.6;
	bottom: 0px;
}
.img_text p{
	color: #fff;
	font-size: 26px;
	height: 44px;
	margin: 8.5px 0px 8.5px 40px;
	line-height: 44px;
	border-left: 3px solid #72b16a;
	text-indent: 0.5em;
}
.img_text p span{
	font-size: 12px;
	color: #72b16a;
	font-style: oblique;
  	line-height: 140%;
  	margin-left: 5px;
}
.article_right_down{
	position: relative;
	width: 458px;
	height: 318px;
	background-color: #eeeed6;
	margin-top: 33px;
}
.text_top{
	padding: 30px 20px 10px 20px;
}
.text_top ul{
	list-style: none;
	line-height: 20px;
}
.text_top ul li{
	font-size: 16px;
	color: #5a5b5b;
	font-family: "SimSun";
	text-align: left;
	margin-bottom: 20px;
}
.triangle{
	width: 0;
	height: 0;
	border-left:5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #10456b;
	display: inline-block;
}
.word{
	font-size: 12px;
	font-style: oblique;
	text-align: right;
}
.text_left{
	position: absolute;
	width: 260px;
	height: 160px;
	background-color: #d45d5c;
	bottom: 0px;
	left: 0px;
	color: #fff;
}
.zero{
	float: left;
	font-size: 110px;
	font-family: "Microsoft YaHei";
	border-right: 2px solid #fff;
	height: 86px;
	line-height: 86px;
	margin: 37px 10px;
	padding-right: 5px;
}
.nums{
	margin-top: 40px;
	font-size: 21px;
	text-transform: uppercase;
	font-style: oblique;
	line-height: 24px;
}
.hello{
	margin-top: 6px;
	line-height: 10px;
}
.text_right{
	font-size: 14px;
	color: #5a5b5b;
	font-style: oblique;
	line-height: 16px;
	text-indent: 3em;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 178px;
	height: 160px;
	margin-right: 10px;
}
.text_right span{
	font-size: 72px;
	color: #d45d5c;
	line-height: 30px;
}
.quo_left{
	position: absolute;
  	bottom: 120px;
  	right: 145px;
 	font-style: normal;
}
.quo_right{
 	position: absolute;
  	bottom: 30px;
 	right: -10px;
  	font-style: normal;
}

/*****************//*主体*//*****************/
footer{
	clear: both;
	width: 892px;
	margin: 0 auto;
	border-top: 1px solid #938e8c;
}
footer p{
	float: right;
	color: #d45d5c;
}
